version: '3.8'

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    restart: always
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
      - /usr/bin/docker:/usr/bin/docker
    environment:
      - JAVA_OPTS=-Xmx2048m
      - JENKINS_OPTS=--httpPort=8080
    networks:
      - jenkins_network
    privileged: true

networks:
  jenkins_network:
    driver: bridge

volumes:
  jenkins_home:
    driver: local

